<!--[HttpPost("/cars/new")] CreateForm-->
<h1>Add new car details below</h1>
<form action="/cars/new" method="get">
  <label for="makeModel">Add model</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Add model</label>
  <input id="price" name="price" type="text">
  <label for="miles">Add model</label>
  <input id="miles" name="miles" type="text">
  <label for="message">Add model</label>
  <input id="message" name="message" type="text">
  <button type="submit">Submit</button>
</form>